.wp-list-table tr.order-late .sla-time, .wp-list-table tr.status-wc-osc-lost {
    background-color: red;
    color:white;
}
.wp-list-table tr.status-wc-osc-lost * {
    color:white;
}
.wp-list-table tr.status-wc-osc-lost .sla-time {
    background-color: white;
    color:black;
}
.wp-list-table tr.status-wc-osc-lost .order-status {
    background-color: black;
}
.wp-list-table tr.status-wc-osc-delivered .sla-time,
.wp-list-table tr.status-wc-osc-picked .sla-time,
.wp-list-table tr.status-wc-osc-cancelled .sla-time,
.wp-list-table tr.status-wc-cancelled .sla-time,
.wp-list-table tr.status-wc-pending .sla-time {
    display: none;
}
.wp-list-table tr.status-wc-osc-delivered {
    background-color: lightgreen;
}
.wp-list-table tr.status-wc-osc-delivered * {
    color: #3c7b2f;
}
.wp-list-table tr .sla-time {
    padding:10px;
    border-radius: 5px;
    background-color: lightgreen;
    color:#3c7b2f;
}
.wp-list-table tr.due-soon .sla-time {
    background-color:orange;
}
.post-type-shop_order .wp-list-table thead th.column-packages_details {
    width:59px;
}
.post-type-shop_order .wp-list-table thead th.column-sla_details {
    width:135px;
}